body {
    background: #ccc;
}

.container {
    background-color: rgba(170, 170, 170, 0.6);
    border-radius: 10px;
    padding: 40px;
}

.input-group {
    border: 1px solid black;
    border-radius: 7.5px;
}